data/
.pyc
*.csv
.env
.ipynb_checkpoints/
*/**/.ipynb_checkpoints
**/_archived/*
*.pt
**/*.pt
**/runs/*
./_script/A-city-never-was/runs/*
*/runs/*
*.log
**/cache/*
_archive/
**.yaml
google_drive*
demo_img/
.DS_Store
.pyc
.sh