./data/*
*.csv
.env
.ipynb_checkpoints
*.sh
*/**/.ipynb_checkpoints
*.pyc
**/_archived/*
*.pt
**/*.pt
**/runs/*
./_script/A-city-never-was/runs/*
*/runs/*
*.log
**/cache/*
**/_archive/*
**.yaml
google_drive*
./demo_img/*